body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    margin: 0;
}
header {

    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header img {
    width: 100px;
    height: 100px;
}
header nav {
    display: flex;
}
header nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333333;
    font-weight: bold;
}
header nav a:hover {
    background-color: #f2f2f2;
}
h1 {
    text-align: center;
    margin-top: 50px;
    color: #333333;
}
.section {
    background-color: #ffffff;
    padding: 20px;
    margin-top: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 80%;
    margin: auto;
    margin-top: 30px;
}
h2 {
    margin-top: 0;
    color: #333333;
}
.property-links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.property-links button {
    background-color: #4CAF50;
    color: white;
    width: 500px;
    height: 50px;
    margin: 8px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    margin-right: 10px;
}
.property-links button:hover {
    background-color: rgb(211, 243, 132);
    color: #e02525;
    cursor: pointer;
    transition: background-color 1000ms, color 1000ms;
}
.review {
    flex-basis: calc(33.33% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
.review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
.review-header h3 {
    margin: 0;
  }
  
.review-date {
    font-size: 14px;
    color: #666;
  }
  
.review-rating {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
.review-text {
    margin: 0;
  }
  
