body {
    background-image: url('https://wallpaperaccess.com/full/2056374.jpg');
    height: 100%;
    background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    font-family: Arial, sans-serif;
}
form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 400px;
    margin: auto;
    margin-top: 100px;
}
h1 {
    text-align: center;
    margin-top: 0;
    color: #333333;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}
button:hover {
    background-color: #45a049;
}
footer {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
}
/* footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;          
}  */