extends layout
block about
    doctype html
    html
        head
            title Marketplace
        body
            header
                img(src="/images/logo.jpg", alt='Marketplace Logo')
                nav
                    a(href='/home') Home
                    a(href='/about') About
                    a(href='/blog') Blog
                    a(href='/reviews') Reviews
                    a(href='/contact') Contact Us
            .section 
                h2 About Us
                p Welcome to Your Market Place, your one-stop destination for your future dream place! Our mission is to provide best possible services at the most affordable prices.
                p At Your Market Place, we understand that searching property online can be overwhelming, which is why we've created a curated selection of only the best properties available on the market. Our team of experts scours the globe to bring you the latest available properties, so you can search with confidence knowing that you're getting the trustable places and properties .
                p We understand that online searching can be overwhelming, which is why we strive to make our marketplace easy to navigate and user-friendly. Our platform is designed to provide a seamless shopping experience, whether you're looking for a specific item or just browsing.
                p Our sellers are carefully selected to ensure the quality and authenticity of their products. We believe that everyone has something unique to offer, which is why we welcome sellers from all backgrounds and walks of life.
                p At our marketplace, we value transparency and honesty. We encourage our buyers and sellers to communicate openly, and we provide tools and resources to help facilitate these conversations. Our goal is to build trust and foster long-lasting relationships between our community members.
                p We are committed to providing exceptional customer service and support. If you have any questions or concerns, please don't hesitate to reach out to us. We are always here to help.
                p Thank you for choosing Your market Place. We are grateful for your support and look forward to serving you.