extends layout
block blog
    doctype html
    html
        head
            title Marketplace
            link(rel="stylesheet", href="/css/blog.css")
        body
            header
                img(src='/images/logophoto.png', alt='Marketplace Logo', height='100')
                nav
                    a(href='/home') Home
                    a(href='/about') About
                    a(href='/blog') Blog
                    a(href='/reviews') Reviews
                    a(href='/contact') Contact Us
            //- .section
            //-     h2 Blog
            //-     p Check out our latest blog posts for tips and advice on buying, selling, and renting properties.
            //-     ul
            //-         li
            //-             a(href='https://www.youtube.com/watch?v=rgMoeXghOWk') 5 Tips for Staging Your Home to Sell
            //-         li
            //-             a(href='https://www.thetimes.co.uk/money-mentor/article/rent-buy-which-best/') The Pros and Cons of Renting vs. Buying
            //-         li
            //-             a(href='https://www.movewise.co.uk/articles/complete-guide-best-estate-agent') How to Choose the Right Real Estate Agent
            .blog-posts.section
                h2 Latest Blog Posts
                .blog-post-wrapper
                    .blog-post
                        img(src="/images/blog1.png", alt="Blog Post Image")
                        h3 5 Tips for Staging Your Home to Sell
                        p By John Smith on May 1, 2023
                        button
                            a(href='https://www.youtube.com/watch?v=rgMoeXghOWk') Read More
                    .blog-post
                        img(src="/images/blog2.png", alt="Blog Post Image")
                        h3 The Pros and Cons of Renting vs. Buying
                        p By Jane Doe on April 25, 2023
                        button
                            a(href='https://www.thetimes.co.uk/money-mentor/article/rent-buy-which-best/') Read More
                    .blog-post
                        img(src="/images/blog3.jpg", alt="Blog Post Image")
                        h3 How to Choose the Right Property
                        p By Tom Johnson on April 18, 2023
                        button
                            a(href='https://www.movewise.co.uk/articles/complete-guide-best-estate-agent') Read More
