extends layout
block buy
    doctype html
    html 
        head 
            title Property For Sale
        body
            .container
                h1 Properties for Sale
                ul.property-list
                    each properties in property
                        li
                            img.property-image(src="/images/property1.jpg", alt="Property Image")
                            .property-details
                                div.property-title #{properties.id}
                                div.property-price #{properties.cost}
                                div.property-description #{properties.category}
                                div.property-location #{properties.location}
                    
//- Add more properties here