extends layout
block blog
    doctype html
    html
        head
            title Marketplace
        body
            header
                img(src="/images/logo.jpg", alt='Marketplace Logo')
                nav
                    a(href='/home') Home
                    a(href='/about') About
                    a(href='/blog') Blog
                    a(href='/reviews') Reviews
                    a(href='/contact') Contact Us
                    a(href='#') Profile
            .section
                h2 Contact Us
                p Check out our contact details for tips and advice on buying, selling, and renting properties.
                ul
                    li
                        a(href='https://www.youtube.com/watch?v=rgMoeXghOWk') Instagram Link
                    li
                        a(href='https://www.thetimes.co.uk/money-mentor/article/rent-buy-which-best/') Facebook Link
                    li
                        a(href='https://www.movewise.co.uk/articles/complete-guide-best-estate-agent') Youtube Link
                h3 Emila Address   
                p ymp@gmail.com
                