extends layout
block forgotpassword
    doctype html
    html
        head
            title Forgot Password
        body
            header
                img(src='/images/logo.jpg', alt='Marketplace Logo', width='200', height='100')
                h1 Your Market place
            form
                h2 Forgot Password?
                p Please enter the email address associated with your account and we'll send you a link to reset your password.
                label(for='email') Email
                input(type='email', placeholder='Enter Email', name='email', required)
                button(type='submit') Send Reset Link
                div(style='text-align:center;')
                    p Remembered your password?
                    a(href='login') Login
            footer
            p © 2023 Marketplace. All rights reserved.