extends layout
block home
    doctype html
    html
        head
            title Marketplace
        body
            header
                img(src="/images/logo.jpg", alt='Marketplace Logo')
                nav
                    a(href='#') Home
                    a(href='#') About
                    a(href='#') Blog
                    a(href='#') Reviews
                    a(href='#') Contact Us
                    a(href='#') Profile
            .property-links
                button
                    a(href='sell') SELL
                button
                    a(href='buy') BUY/RENT
            .section
                h2 About Us
                p We are a real estate website dedicated to helping people find their dream homes. With our easy-to-use search tools and comprehensive listings, we make it simple to find the perfect property for your needs.
            .section
                h2 Blog
                p Check out our latest blog posts for tips and advice on buying, selling, and renting properties.
                ul
                    li
                        a(href='#') 5 Tips for Staging Your Home to Sell
                    li
                        a(href='#') The Pros and Cons of Renting vs. Buying
                    li
                        a(href='#') How to Choose the Right Real Estate Agent