html 
    head    
        title #{title}
        script(language="javascript" src="/bootstrap/js/bootstrap.min.js")
        link(rel="stylesheet" href="/bootstrap/css/bootstrap.min.css")
    body 
        block login
        block signup
        block forgotpassword
        block home
        block sell
        block buy
        block about
        block blog
        block reviews
        block contact