extends layout
block signup
    doctype html
    html(lang="en")
        head
            title Sell Your Property
            link(rel="stylesheet", href="style.css")
        body
            .container    
                h1 Sell Your Property
                form(action="submit-form.php", method="post")
                label(for="property-type") Property Type:
                select#property-type(name="property-type")
                option(value="house") House
                option(value="apartment") Apartment
                option(value="condo") Condo
                option(value="townhouse") Townhouse
                label(for="bedrooms") Number of Bedrooms:
                input#bedrooms(type="number", name="bedrooms")
                label(for="bathrooms") Number of Bathrooms:
                input#bathrooms(type="number", name="bathrooms")
                label(for="price") Asking Price:
                input#price(type="number", name="price")
                label(for="description") Property Description:
                textarea#description(name="description", rows="5", cols="50")
                label(for="contact-name") Your Name:
                input#contact-name(type="text", name="contact-name")
                label(for="contact-email") Your Email:
                input#contact-email(type="email", name="contact-email")
                label(for="contact-phone") Your Phone Number:
                input#contact-phone(type="tel", name="contact-phone")
                input(type="submit", value="Submit")