extends layout
block signup
    doctype html
    html
        head
            title Sign Up Page
            link(rel="stylesheet", href="/css/signup.css")
        body
            header
                img(src='/images/logophoto.png', alt='Marketplace Logo', height='100')
                h1 Your Market place

            form(action='/set-password' method='POST')
                label(for='username') Username
                input(type='text', placeholder='Enter Username', name='username', required)
                label(for='email') Email
                input(type='email', placeholder='Enter Email', name='email', required)
                label(for='password') Password
                input(type='password', placeholder='Enter Password', name='password', required)
                label(for='confirm-password') Confirm Password
                input(type='password', placeholder='Confirm Password', name='confirm-password', required)
                button(type='submit') Sign Up
                div(style='text-align:center;')
                    p Already have an account?
                    a(href='login') Login
            footer
                p © 2023 Marketplace. All rights reserved.



